body{background:#eee;font:normal normal 0.9em "Lucida Grande", Geneva, Arial, Verdana, sans-serif;}
h2{font-size:1.1em;margin:2px 0;padding:0;}
p{margin:3px 0;}
.left{float:left;}
.right{float:right;}
a img{border:none;}
#footer a{color:#777;text-decoration:none;}
#footer a:hover{color:#555;text-decoration:underline;}
h1 a, h1 a:visited{color:#000; text-decoration:none;}
#title .note{font-size:10px;color:#999;font-weight:normal;}
#legal a{color:#aaa;}
#legal a:hover{color:#888;}
.item h2, .item p{color:#333;}
.item b, a, a:visited{color:#4578B1; font-weight:bold;}
.tagline p{display:none;}
#topics-list{ margin:20px 0 0 0; padding:0; }
#topics-list li{ list-style:none; }
#topics-list a{background:#F6F6F6;display:block; text-decoration:none; color:#555; border:1px solid #ddd; width:138px; float:left; text-align:center;margin:3px 5px;padding:4px 5px;min-height:30px;}
#topics-list a:hover{font-weight:bold; background:#FBFBC3;}
h2, p{margin:0 0 10px 0;}
.download{background:#eee; border:1px solid #ddd; padding:5px;}
#footer{font-size:0.7em;color:#777;padding:0 10px 30px 0; clear:both;}
#wrapper{width:895px;margin:50px auto 0;}
#content{background: #fff url('/images/Feeds.png') no-repeat 30px 20px;padding:30px 30px 10px;margin:0 0 5px 0; border:1px solid #ddd; -moz-border-radius: 10px; -webkit-border-radius: 10px;   -webkit-box-shadow: 0px 2px 5px #aaa}
#legal{clear:both;color:#aaa;font-size:0.7em;padding:15px 10px 0 0; }
#cclogos{float:left;padding:2px 8px 10px 0;}
#title{margin:0 0 20px 80px;border-bottom:1px solid #eee;}
#title h1{margin:10px 0;color:#222;font-weight:bold; font-size: 2.8em; line-height:0.5em;}
#homepage{background:url('/images/screen.png') no-repeat top right;}
.tagline{background:url('/images/tagline.png') no-repeat 0 50px; display:block; padding:100px 0 0; min-height:250px; width:420px; text-align:center;}
#subscribe{margin:85px 0 0 0;}
.item{width:20%;float:left;margin:0 20px 0 10px;}
#middle{clear:both; font-size:0.8em;}
