<% @page_title = "Longer, Faster, Better" -%>

<div id="homepage">
    <div class='tagline'>
    	<p><span>The Ultimate Digg News Feed (Digg just got even better)</span></p>
    	
    	<%= link_to image_tag('subscribe.png', :id => 'subscribe'), "http://feeds.feedburner.com/Diggfeedr" %>
    	
    	<br /><%= link_to "or get individual topics here", :action => 'topics' %>
    </div>
    <div id="blurb">
    	<div class="item">
    		<h2>What is Feeddit?</h2>
    		<p>Feeddit is an improvement to the standard rss feed on <%= link_to "Digg.com", "http://digg.com" %>, it's longer, fatter and more awesome.</p>
    	</div>
    	<div class="item">
    		<h2>Direct Links</h2>
    		<p>Each feed item has the <b>actual link</b> so you can skip past the Digg story page and get directly to the story.</p>
    	</div>
    	<div class="item">
    		<h2>More Stories</h2>
    		<p>These new feeds are <b>100 stories</b> long rather than the regular 40 so you’ll never miss another story.</p>
    	</div>
    	<div class="item">
    		<h2>Open Source</h2>
    		<p>Feeddit is 100% free and open source, anyone can get the code under an MIT License. <%= link_to "Grab it here!", :action => "opensource" %></p>
    	</div>
    </div>
</div>

