<% @page_title = "Longer, Faster, Better" -%>

<div id="tagline">
	<p>The Ultimate Digg News Feed (Digg just got even better)</p>
	<a href="http://feeds.feedburner.com/Diggfeedr"><img src="/images/subscribe.png" id="subscribe" alt="Subscribe Today" /></a>
	<br /><br /><a href='/topics'>or get individual topics here</a>
</div>
<div id="screen">
	<p><img src="/images/screen.png" alt="digg.com Screenshot" title="Digg.com" /></p>
</div>
<div id="blurb">
	<div class="item">
		<h2>What is Feeddit?</h2>
		<p>Feeddit is an improvement to the standard rss feed on <a href="http://digg.com" title="Digg">Digg.com</a>, it's longer, fatter and more awesome.</p>
	</div>
	<div class="item">
		<h2>Direct Links</h2>
		<p>Each feed item has the <b>actual link</b> so you can skip past the Digg story page and get directly to the story.</p>
	</div>
	<div class="item">
		<h2>More Stories</h2>
		<p>These new feeds are <b>100 stories</b> long rather than the regular 40 so you’ll never miss another story.</p>
	</div>
	<div class="item">
		<h2>Open Sourceable</h2>
		<p>Feeddit is 100% free and open source, anyone can get the code under an MIT License. <a href='/opensource'>Grab it here!</a></p>
	</div>
</div>

