<div class='opensource'>
    <%= image_tag('opensource.png') %>

    <h2>Open Source for the People</h2>

    <p>Feeddit is so free that we are actually giving away the source code, go on, take it! Do whatever you like with it!</p>
    
    <p>If you think Feeddit is missing that killer feature then add it and send a pull request, you never know it might get merged back in and put live on the site.</p>

    <p class='download'>Get the latest version from github: <a href='http://github.com/andrew/feeddit/tree/master'>http://github.com/andrew/feeddit/tree/master</a></p>

    
</div>